absl-py==0.12.0
altgraph==0.17
appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
attrs==21.2.0
auto-py-to-exe==2.8.0  
beautifulsoup4==4.9.3  
bottle==0.12.19        
bottle-websocket==0.2.9
certifi==2020.12.5     
cffi==1.14.5
chardet==4.0.0
chemparse==0.1.0       
click==7.1.2
cmake==3.18.4.post1    
colorama==0.4.4
comtypes==1.1.8
cycler==0.10.0
distlib==0.3.1
Django==3.1.4
django-cors-headers==3.6.0
djangorestframework==3.12.2
dlib==19.22.0
docopt==0.6.2
Eel==0.12.4
face-recognition==1.3.0
face-recognition-models==0.3.0
ffmpeg==1.4
filelock==3.0.12
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
gTTS==2.2.2
gunicorn==20.1.0
idna==2.10
isort==5.6.4
joblib==1.0.1
Js2Py==0.71
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
matplotlib==3.4.1
mccabe==0.6.1
mediapipe==0.8.4
MouseInfo==0.1.3
mpmath==1.2.1
nltk==3.6.2
numpy==1.20.2
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
packaging==20.9
pandas==1.2.4
pefile==2019.4.18
Pillow==8.0.1
pipenv==2020.11.15
pipwin==0.5.1
playsound==1.2.2
protobuf==3.16.0
PyAudio @ file:///C:/Users/Ismam%20Labib/downloads/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
PyAutoGUI==0.9.52
pycparser==2.20
pydub==0.25.1
pygame==2.0.1
PyGetWindow==0.0.9
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pyjsparser==2.7.1
pylint==2.6.0
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.3
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
PyQtWebEngine==5.15.2
PyRect==0.1.4
PyScreeze==0.1.27
pySmartDL==1.3.4
python-dateutil==2.8.1
pyttsx3==2.90
PyTweening==1.0.3
pytz==2020.4
pywin32==300
pywin32-ctypes==0.2.0
regex==2021.4.4
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.2
selenium==3.141.0
six==1.15.0
soupsieve==2.1
SpeechRecognition==3.8.1
splinter==0.14.0
sqlparse==0.4.1
sympy==1.8
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.60.0
tzlocal==2.1
urllib3==1.26.2
virtualenv==20.2.2
virtualenv-clone==0.5.4
whichcraft==0.6.1
wikipedia==1.4.0
wrapt==1.12.1
zope.event==4.5.0
zope.interface==5.4.0
django-heroku